<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Passing in input</title>
    </head>

    <body>
        <p1> Yo, my name is {{ name }}</p1></body><br>
        <p1>I want {{ toppings[1] }} on my pizza</p1><br>
        <p>It is 90 degrees</p>
    </body>
    <script>
        const angle = {
            angles: {{ angles | tojson }}
        };
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/transfer.js') }}"></script>

</html>